.header {
  display: grid;
  grid-auto-flow: column;
  justify-content: space-between;

  align-items: center;
  margin-bottom: 40px;

  @media screen and (max-width: 810px) {
    grid-auto-flow: unset;
    justify-content: unset;
    justify-items: center;
    grid-gap: 10px;
    margin: 20px;
  }
}

.title {
  display: grid;
  grid-auto-flow: column;
  align-items: center;
  justify-content: start;
}
