.wrapper {
  margin: 0 auto;
  max-width: 1120px;
  // display: grid;
  // justify-content: center;
  // grid-template-columns: minmax(320px, 1100px);
  padding: 30px 0;
}
.container {
  transition: 0.4s ease-in-out 0.1s;
  position: relative;

  margin-right: 330px;
  @media screen and (max-width: 1155px) {
    margin-right: 0;
  }
}

.top {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 30px;
  background-color: #eff6ff;
  // z-index: 1000;
}
