.header {
  position: sticky;
  top: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
  background-color: #fff;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;

  @media screen and (max-width: 810px) {
    top: 0;
    flex-direction: column;
    gap: 20px;
  }

  &__link {
    display: flex;
    align-items: center;
    gap: 5px;
  }
  &__title {
    font-size: 1.5rem;
    text-transform: uppercase;
    font-weight: 800;
  }
  &__subtitle {
    opacity: 0.5;
  }

  &__links {
    display: grid;
    grid-auto-flow: column;
    grid-gap: 20px;

    div {
      display: grid;
      grid-auto-flow: column;
      grid-gap: 10px;
    }
  }
}

.cartLink {
  @media screen and (max-width: 1155px) {
    cursor: pointer;
  }
}
