.container {
  position: absolute;
  right: -10px;
  top: 40px;
  // transform: translateX(calc(100% + 10px));
}

.wrapper {
  position: fixed;
  top: 40px;
  // left: 0;
  width: 320px;
  padding: 10px;
  margin-bottom: 30px;
  max-height: calc(100vh - 80px);
}

.header {
  margin-bottom: 40px;
}

.title {
  margin-bottom: 40px;
  border-bottom: 1px solid #0001;
  display: grid;
  align-content: center;
}

.item {
  border: 1px solid #f3f3f3;
  box-sizing: border-box;
  border-radius: 15px;
  padding: 5px;
  margin-bottom: 10px;
}

.items {
  overflow: auto;
}
