.container {
  padding: 40px;
}

.header {
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: center;
  margin-bottom: 40px;
}

.title {
  display: grid;
  grid-auto-flow: column;
  justify-content: space-between;
  align-items: center;
}
